* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  height: 48px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo {
  background: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  padding: 16px 20px;
  width: 106px;
  display: block;
  max-height: 48px;
}

.nav-links-right {
  display: flex;
}

.nav-links-right a {
  display: block;
  padding: 16px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-links-right li { 
  max-height: 48px;
}

.nav-links-right li:first-of-type a {
  padding-left: 20px;
}

.mobile-link {
  border-left: 1px solid #eee;
  display: inline-block;
}

.nav-links-right img {
  height: 16px;
  width: 16px;
}

.notice-banner {
  background-color: #ffdd33;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  position: fixed;
  top: 48px;
}

.expanded-nav {
  width: 100%;
  height: 32px;  
  background-color: black;
  justify-content: space-between;
}

.expanded-nav,
.expanded-link,
.eco-countdown {
  display: none;
}

.eco-search {
  margin: 16px;
  transform: rotate(-270deg);
  opacity: 0.25;  
}

.eco-logo {
  width: 200px;
  vertical-align: middle;
}

.eco-countdown a:first-of-type {
  border-left: 1px solid #eee;
}

.eco-countdown span:first-of-type {
  margin: 0 4px 0;
  font-size: 11px;
  text-transform: uppercase;
}

.eco-countdown .timer {
  color: #f42;
  font-size: 21px;
  margin: 0 14px 0 4px;
}

.eco-countdown a:last-of-type {
  font-size: 11px;
  background-color: #0cc;
  color: #fff;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 3px;
  text-transform: uppercase;
}

.expanded-nav a {
  color: rgba(255, 255, 255, 0.6);
}

.top-links {
  margin-left: 20px;
}

.top-links li {
  margin-right: 12px;
}

.top-right-links li {
  margin-left: 12px;
}

.expanded-nav li:first-of-type a {
  color: #fff;
}

.top-links li,
.top-right-links li {
  display: inline-block;
}

.top-links a,
.top-right-links a {
  font-size: 0.8rem;
}

@media screen and (min-width : 768px) {

  .logo {
    height: 80px;
    max-height: 80px;
    padding-top: 32px;
  }

  .nav {
    top: 32px;
  }

  .notice-banner {
    top: 80px;
    height: 30px;
  }

  .nav-container {
    width: calc(100% - 106px);
  }

  .expanded-nav,
  .nav-links-right {
    width: 100%;
  }

  .expanded-nav {
    display: flex;
    align-items: center;
  }

  .expanded-link {
    display: inline-block;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width : 780px) {
  .top-right-links {
    float: right;
    padding-right: 20px;
  }

  .search-link {
    position: absolute;
    right: 20px;
  }
}

@media screen and (min-width : 1024px) {
  .logo {
    display: none;
  }
  .nav-container {
    width: 100%;
  }
  
  .search-link {
    display: none;
  }

  .main-nav-container {
    display: flex;
  }
  
  .notice-banner {
    justify-content: flex-start;
    padding-left: 20px;
  }
}

@media screen and (min-width : 1113px) {
  .eco-countdown {
    display: flex;
    min-width: 47%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 14px;
  }
}