* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  height: 48px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo {
  background: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  padding: 16px 20px;
  width: 106px;
  display: block;
  max-height: 48px;
}

.nav-links-right {
  width: 100%;
}

.nav-links-right a {
  display: block;
  padding: 16px;
}

.nav-links-right li { 
  max-height: 48px;
}

.mobile-link {
  border-left: 1px solid #eee;
  display: inline-block;
}

.nav-links-right img {
  height: 16px;
  width: 16px;
}

.notice-banner {
  background-color: #ffdd33;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  position: fixed;
  top: 48px;
}

.expanded-nav {
  height: 32px;  
  background-color: black;
}

.expanded-nav, .expanded-link {
  display: none;
}

.expanded-nav a {
  color: rgba(255, 255, 255, 0.6);
}

.expanded-nav li {
  margin-left: 12px;
}

.expanded-nav li:first-of-type a {
  color: #fff;
}

@media screen and (min-width : 768px) {
  .logo {
    height: 80px;
    max-height: 80px;
    padding-top: 32px;
  }

  .nav {
    top: 32px;
  }

  .notice-banner {
    top: 80px;
    height: 30px;
  }

  .nav-container {
    width: calc(100% - 106px);
  }

  .expanded-nav,
  .nav-links-right {
    width: 100%;
  }

  .nav-links-right {
    display: grid;
    grid-template-columns: repeat(auto-fill, 4rem);
  }

  .nav-links-right .search-link {
    grid-column-end: -1;
  }

  .expanded-nav ul {
    display: flex;
  }

  .expanded-nav {
    display: flex;
    align-items: center;
  }

  .expanded-link {
    display: inline-block;
  }

  .nav-links-right li:last-of-type {
    display: none;
  }

}

@media screen and (min-width : 780px) {
  
}