* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  height: 48px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo a {
  background: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  padding: 16px 20px;
  width: 106px;
  display: block;
  max-height: 48px;
}

.nav-links-right {
  width: 100%;
}

.nav-links-right a {
  display: block;
  padding: 16px;
}

.nav-links-right li {
  display: inline-block;
  border-left: 1px solid #eee;
  max-height: 48px;
}

.nav-links-right img {
  height: 16px;
  width: 16px;
}

.notice-banner {
  background-color: #ffdd33;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  position: fixed;
  top: 48px;
}

.expanded-nav {
  height: 32px;
  background-color: black;
}

.expanded-nav li {
  display: inline-block;
}

.expanded-nav a {
  color: white;
}

@media screen and (min-width : 768px) {
  .nav {
    top: 32px;
  }

  .notice-banner {
    top: 70px;
  }

  .expanded-nav,
  .nav-links-right {
    width: calc(100% - 106px);
  }

}